.about {
    background-color: rgb(42, 44, 80);
    height: 725px;
    margin-top: 100px;
    animation: slide-in-left 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-style: inset;
    border-width: 20px;
    border-color: rgb(129, 101, 255);
    top: 0;;
}

.about .body{
    display: flex;
    margin-top: 3;
}
.about .image{
    display: flex;
    margin-top: 75px;
    margin-left: 100px;
}
.about .image img{
    height:550px;
}

.about .text {
    position: absolute;
    margin-right: 100px;
    margin-left: 775px;
    margin-top: 90px;
}
.wrapper{
    display: flex;
    margin-left: 0px;
}
.wrapper .static
{
    font-size: 50px;
    font-weight: 400;
    color: white;
}
.wrapper .dynamic-txts {
    padding: 0;
    margin: 0;
    top: 0;
    height: 90px;
    overflow: hidden;
}
.dynamic-txts li {
    padding: 0;
    list-style: none;
    font-size: 50px;
    font-weight: 500;
    color: rgb(129, 101, 255);
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}
.dynamic-txts li::after{
    content:"";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    background-color: rgb(42, 44, 80);
    animation: typing 3s steps(10) infinite;
}
.about .text p
{
    font-size: 25px;
    color: white;
}
/* Animations */
@keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100% {
        left: 0;
    }
  }
@keyframes slide{
    100%{
        top: -300px;
    }
}